<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<style>
			img {
				width: 100%;
			}
			h2 {
				color: white;
			}
		</style>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research">Research</a></li>
        		<li><a href="/teaching">Teaching</a></li>
        		<li><a href="/cv">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
    {{ content }}
      
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:alevkun@ucsd.edu">email</a></li>
        		<li><a href="https://github.com/alevkun">github.com/alevkun</a></li>
			</ul>
		</footer>
		
		<div>
			<h2> Demo Image </h2>
			<img src="https://alevkun.github.io/assets/headshot.JPG" alt="Demo Image">
		</div>
	</body>
</html>
